.list {
  width: 16rem;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  background-color: rgba(0,0,0,0.2);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

.list-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.list-title {
  color: #333;
}

.list-delete-button {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: inherit;
  border: 0;
  padding: 0;
  background-color: transparent;
  color: #333;
}

.list-delete-button:hover {
  color: darkred;
  cursor: pointer
}

.card-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.list-add-card-item {
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  border-radius: 5px;
  background-color: transparent;
  padding: 0.5rem;
}


.list-add-card-input {
  font-size: 1rem;
  padding: 0;
  margin: 0.4rem 0;
  border: 0;
  background-color: transparent;
  border-bottom: rgba(0,0,0,0.2);
  border-width: 2px;
  border-bottom-style: solid;
}

.list-add-card-input::placeholder {
  color: #333;
}

.list-add-card-input:focus {
  border: 0;
  background-color: transparent;
  outline: 0;
  border-bottom: rgba(0,0,0,0.2);
  border-width: 2px;
  border-bottom-style: solid;
}
