h2, h3 {
  display: inline-block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.board-container {
  
}

.board-container > * {
  padding-left: 1rem;
}

.board-header {
  background-color: darkblue;
  color: white;
}

.board-title {
}

.list-container {
  display: flex;
  align-items: flex-start;
  overflow-x: scroll;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.add-list-container {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.board-add-list-input {
  font-size: 1rem;
  padding: 0;
  margin: 0.4rem 0;
  border: 0;
  background-color: transparent;
}

.board-add-list-input:focus {
  border: 0;
  background-color: transparent;
  outline: 0;
}
