.card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  border-radius: 5px;
  background-color: blanchedalmond;
  padding: 0.5rem;
}

.card-content {
  font-size: 1rem;
  margin: 0.4rem 0;
}

.card-delete-button {
  font-size: 1.25rem;
  font-weight: 600;
  font-family: inherit;
  border: 0;
  padding: 0;
  background-color: transparent;
}

.card-delete-button:hover {
  color: darkred;
  cursor: pointer;
}
