html, body, #root, #appContainer {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

#appContainer {
  background-color: darkgrey;
}

.navbar {
  height: 4rem;
  background-color: deepskyblue;
  padding-left: 1rem;
  color: white
}

.navbar-title {
  margin-top: 1rem;
  margin-right: 1rem;
  display: inline-block;
}

.navbar-controls {
  display: inline-flex;
  justify-items: flex-start;
  margin-top: auto;
  margin-bottom: auto;
}